body {
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  color: black;
}

#quote-box {
  background-color: white;
  padding: 20px;
  width: 500px;
  text-align: center;
  border-radius: 10px;
}

button {
  margin-top: 10px;
  padding: 10px;
  border: none;
  cursor: pointer;
  background-color: #77b1a9;
  color: white;
  border-radius: 5px;
  text-decoration: none;
}
a {
  margin-top: 10px;
  padding: 5px;
  border: none;
  cursor: pointer;
  color: white;
  border-radius: 5px;
  text-decoration: none;
}
#foot {
  display: flex;
  justify-content: space-between;
}
img {
  width: 30px;
  margin: auto;
}
#guy {
  display: flex;
  justify-content: flex-end;
}
p {
  font-style: italic;
  font-weight: 200;
  margin: 0px 0px 5px 0px;
}
